APP_NAME=AcaWriter
APP_ENV=development
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack

DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=acawriter
DB_USERNAME=acawriter
DB_PASSWORD=mypassword

BROADCAST_DRIVER=redis
CACHE_DRIVER=redis
QUEUE_CONNECTION=redis
SESSION_DRIVER=redis
SESSION_LIFETIME=120
SESSION_SECURE_COOKIE=false

REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=ap-southeast-2
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

TAP_API=http://tap:9000

OKTA_ISSUER=
OKTA_CLIENT_ID=
OKTA_CLIENT_SECRET=

AAF_SECRET=
AAF_AUD=
AAF_LINK=

LTI_KEY=
LTI_SECRET=

ATHANOR_URL=http://athanor:8083/v2/analyse/text/rhetorical
TAP_HOSTS=tap:9000
TAP_SECRET=

DATA_PATH_HOST=~/.acawriter/data
