// Body
//$body-bg: #f5f8fa;
$body-bg: #ffffff;
$body-color: #000;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;
$nav-tabs-border-color: #ccc;
$nav-tabs-link-hover-border-color: #ccc;
$nav-tabs-active-link-hover-border-color: #ccc;
$nav-tabs-justified-link-border-color: #ccc;
$nav-tabs-justified-active-link-border-color: #ccc;

// Brands
$primary: #0f4beb;

$brand-btn-outline-secondary:rgba(255,255,255,0.7);

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "NB Akademie Std", Arial, sans-serif;
$line-height-base: 1.5;
$text-color: #000;

$headings-margin-bottom: 1.5rem;
$headings-font-family: "NB International", Arial, sans-serif;
$headings-font-weight: normal;
$headings-color: #323232;
$paragraph-margin-bottom: 1.5rem;

$h1-font-size: 3.125rem;
$h2-font-size: 1.875rem;
$h3-font-size: 1.625rem;
$h4-font-size: 1.125rem;
$h5-font-size: 1.0625rem;
$h6-font-size: 1rem;
$lead-font-size: 1.375rem;

// Navbar
$navbar-default-bg: $primary;
$nav-link:rgba(255,255,255,1);
$navbar-padding-x: 0;

// Buttons
$btn-default-color: $text-color;
$btn-border-width: 0;
$btn-padding-y: 0.75rem;
$btn-padding-x: 1.5rem;
$btn-font-size: 1.125rem;
$btn-line-height: 1.5rem;
$btn-border-radius: 0;

// Panels
$panel-default-heading-bg: #fff;

// Tables
$table-cell-padding: 1.25rem 0.9375rem;
$table-border-width: 1px;
$table-border-color: #ebebeb;
$table-hover-bg: rgba(15, 75, 235, 0.05);
