#original .ql-editor {
  min-height: calc(100vh - 433px);
}
.ql-editor p {
  line-height: 1.6;
  text-align: justify;
}

.quillWrapper .ql-snow.ql-toolbar {
  background: #F3F5FE;
}

.vocab , .context, .challenge, .wordcount, .metrics, .change, .background {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 1px;
}


.vocab:before {
  content: "\f05b";  /* this is your text. You can also use UTF-8 character codes as I do here */
}


.challenge:before {
  content: "\f111";  /* this is your text. You can also use UTF-8 character codes as I do here */
  color:#C000C0;
}

.context:before {
  content: "\f0c8";  /* this is your text. You can also use UTF-8 character codes as I do here */
  color:#0000FF;

}

.change:before {
  content: "\f04b";  /* this is your text. You can also use UTF-8 character codes as I do here */
  color:#008300;
}

.wordcount:before {
  content: "\f096";  /* this is your text. You can also use UTF-8 character codes as I do here */
  color: #721c24;
}

.background:before {
  content: "\f06a";  /* this is your text. You can also use UTF-8 character codes as I do here */
  color: #721c24;
}

.metrics:before {
  content: "\f0e7";
  color: orangered;
}

// AI/2019-06-25: Removing affect analysis
// .affect {
//   border-bottom: 1px dashed #ff0000;
// }

.epistemic {
  text-decoration: underline;
}

.link2me {
  font-weight:bold;
}

.modall {
  font-style:italic;
  color: darkgreen;
}

/* analytical css */
.badge-analytic {
  color:black;
  background-color: darkorange;
}

.badge-analytic-green {
  color:white;
  background-color: darkgreen;
}

.badge-moves1, .badge-moves2, .badge-moves3, .badge-moves4 {
  padding: 0.2rem 0.6rem;
  border-radius: 10rem;
  color: #fff;
  font-weight: normal;
  font-size: 0.875rem;

  .wrapper & {
    padding: 0.3rem 0.6rem;
    margin-left: 0.25rem;
    position: relative;
    top: -0.0625rem;

    &:first-child {
      margin-left: -0.625rem;
    }
  }

  #resources {
    padding-top: 0.1875rem;
    padding-bottom: 0.1875rem;
  }
}

.hidemarkup {
  display:none !important;
}

.ana_bg_green {
  background-color: #c7e48d;
}

.ana_bg_yellow {
  background-color:#f9d3c0;
}

.moves1 {
  background-color: #f9d3c0;
}
.badge-moves1 {
  background-color: #ff8c00;
}

.moves2 {
  background-color: #c7e48d;
}
.badge-moves2 {
  background-color: #739a24;
}

.moves3 {
  background-color: #cbe3f5;
}
.badge-moves3 {
  background-color: #77b6ed;
}

.moves4 {
  background-color: #ffe28c;
}
.badge-moves4 {
  background-color: #a57b00;
}

.legend .legend-button {
  margin-left: auto;
  display: block;
  margin-top: -20px;
}

.card-moves {
  border-radius: 0;
  border: 0;
  margin-bottom: 5px;
  transition: margin .3s ease;

  &.expanded {
    margin-bottom: 20px;
  }

  .card-header {
    padding: 5px 10px;
    border-radius: 0;
    font-size: 14px;
    font-weight: bold;
  }

  .card-body {
    padding: 5px 10px;
  }

  #legend & .rules-list {
    padding: 0;
    margin: 0;

    li {
      display: list-item;
      width: 100%;
      padding-left: 40px;
    }
  }
}

.formattt + .tooltip > .tooltip-inner {background-color: #f00;}
