.bg-uts-primary {
  background-color:#0d41d1;
}

#navbarCollapse .iconic .nav-item {
  padding-left:0.2rem;
  padding-right:0.2rem;
}

#navbarCollapse .nav-item {
    padding-left: 1rem;
    padding-right: 1rem;
  }

.nav-link {
  color: #FFFFFF;
}

#navbarCollapse .nav-link dropdown-toggle {
  background-color:#000000;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #FFFFFF;
  background-color: #000000;
}



#sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: #fff;
  background: #000000;
}

  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    min-height: 40px; /* Set the fixed height of the footer here */
    color: #FFFFFF;
    font-size:70%;
  }

  .footer .list-inline-item {
    list-style-type: none;
  }

  .footer a{
    color: #FFFFFF;
  }

  .navbar-dark .navbar-nav .nav-link{
    color: #FFFFFF;
  }

  .navbar-brand img{
    margin-top:-6px;
  }

  .dashboard .nav-item .nav-link {
    color: #FFFFFF;
  }

  .dashboard .nav-item .nav-link.active {
    color: #333333;
  }

  .clear {
    clear: both;
    height: 60px;
  }