.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  min-height: 40px; /* Set the fixed height of the footer here */
  color: #FFFFFF;
  font-size:90%;
}

.footer .list-inline-item {
  list-style-type: none;
}

.footer a{
  color: #FFFFFF;
}

.navbar-dark .navbar-nav .nav-link{
  color: #FFFFFF;
}

.dashboard .nav-item .nav-link {
  color: #FFFFFF;
}

.dashboard .nav-item .nav-link.active {
  color: #333333;
}

.clear {
  clear: both;
  height: 60px;
}