.wrapper {
  max-height:30rem;
  overflow-y: scroll;
}


.ql-container {
  max-height:30rem;
  overflow-y: scroll;
}

.affect, .vocab , .context, .challenge, .wordcount, .metrics, .change{
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.affect:before {
  content: "\f043";  /* this is your text. You can also use UTF-8 character codes as I do here */
  color:goldenrod;
}



.vocab:before {
  content: "\f05b";  /* this is your text. You can also use UTF-8 character codes as I do here */
}


.challenge:before {
  content: "\f111";  /* this is your text. You can also use UTF-8 character codes as I do here */
  color:#C000C0;
}

.context:before {
   content: "\f0c8";  /* this is your text. You can also use UTF-8 character codes as I do here */
   color:#0000FF;

 }

.change:before {
  content: "\f071";  /* this is your text. You can also use UTF-8 character codes as I do here */
  color:#008300;
}

.wordcount:before {
  content: "\f096";  /* this is your text. You can also use UTF-8 character codes as I do here */
  color: #721c24;
}

.metrics:before {
  content: "\f0e7";
}


.epistemic {
  text-decoration: underline;
}

.link2me {
  font-weight:bold;
}


.activeClass{
  display: inline;
}
.nonactive {
  display:none;
}