.wrapper {
  max-height:40rem;
  overflow-y: scroll;
}


.ql-container {
  max-height:40rem;
  overflow-y: scroll;
}

.vocab , .context, .challenge, .wordcount, .metrics, .change{
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding:1px;
}


.vocab:before {
  content: "\f05b";  /* this is your text. You can also use UTF-8 character codes as I do here */
}


.challenge:before {
  content: "\f111";  /* this is your text. You can also use UTF-8 character codes as I do here */
  color:#C000C0;
}

.context:before {
  content: "\f0c8";  /* this is your text. You can also use UTF-8 character codes as I do here */
  color:#0000FF;

}

.change:before {
  content: "\f0d8";  /* this is your text. You can also use UTF-8 character codes as I do here */
  color:#008300;
}

.wordcount:before {
  content: "\f096";  /* this is your text. You can also use UTF-8 character codes as I do here */
  color: #721c24;
}

.metrics:before {
  content: "\f0e7";
  color: orangered;
}

.affect {
  border-bottom: 1px dashed #ff0000;
}

.epistemic {
  text-decoration: underline;
}

.link2me {
  font-weight:bold;
}

.modall {
  font-style:italic;
  color: darkgreen;
}


.activeClass{
  display: inline;
}

.nonactive {
  display:none;
}


/* analytical css */
.badge-analytic {
  color:white;
  background-color: darkorange;
}

.badge-analytic-green {
  color:white;
  background-color: darkgreen;
}


.hidemarkup {
  display:none !important;
}

.ana_bg_green{
  background-color: #00bfa5;
}

.ana_bg_yellow{
  background-color:gold;
}


