/* collapse able side bar */


.editWrapper {
  display: flex;
  align-items: stretch;
}

#sidebar {
  min-width: 350px;
  max-width: 350px;
  min-height: 70vh;
}

#sidebar.active {
  margin-left: -450px;
}


a[data-toggle="collapse"] {
  position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
  content: '\e259';
  display: block;
  position: absolute;
  right: 20px;
  font-family: 'Glyphicons Halflings';
  font-size: 0.6em;
}

a[aria-expanded="true"]::before {
  content: '\e260';
}

@media (max-width: 768px) {
  #sidebar {
    width: 200px;
  }
  #sidebar.active {
    margin-left: -200px;
  }
}

#sidebar {
  /* don't forget to add all the previously mentioned styles here too */
  background: #EAEAEA;
  color: #333;
  transition: all 0.3s;
  position:absolute;
  left:1em;
  /*top:29%;*/
  z-index:999;
  border: 1px solid #0000FF;

}

#sidebar .sidebar-header {
  background: #0000FF;
}
